<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简单解谜</title>
    <link rel="stylesheet" href="./css/index.css">
  </head>
  <body>
    <div id="app">
      <!-- 网格游戏 -->
      <div class="g-grid" :style="{transform: 'scale(' + screenScale + ')'}" v-show="bShowGameGrid">
        <div class="tit">简单解谜</div>
        <div class="des">找出规律，选中网格，提交答案</div>
        <div class="g-stage">
          <div class="list" v-if="aNow && aNow[0]">
            <div class="row" v-for="i in (nDifficult + 2)" :key="i">
              <div class="col" v-for="j in (nDifficult + 2)" :key="j" :style="{
                'padding-top': 1 / (nDifficult + 2) * 100 + '%'
              }" @click="checkItem(i, j)">
                <!-- nDifficult: 4 -->
                <!-- i: 1 2 3 4 5 -->
                <div class="border" v-if="i - 2 >= 0 && i - 2 < nDifficult && j - 2 >= 0 && j - 2 < nDifficult"></div>
                <div class="borderBottom" v-if="i === nDifficult + 1 && j !== 1 && j !== nDifficult + 2"></div>
                <div class="borderRight" v-if="j === nDifficult + 1 && i !== 1 && i !== nDifficult + 2"></div>
                <div class="checked" v-if="i - 2 >= 0 && i - 2 < nDifficult && j - 2 >= 0 && j - 2 < nDifficult && aNow[i - 2][j - 2]"></div>
                <div class="tips" v-if="(i === 1 || j === 1) && i !== j && i !== nDifficult + 2 && j !== nDifficult + 2">
                  <div v-if="(j - 2 >= 0 && j - 2 <= nDifficult) || (i - 2 >= 0 && i - 2 <= nDifficult)" v-text="i === 1 ? aTipsRow[j - 2] : aTipsCol[i - 2]"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btns" :style="{
          marginTop: `-${(375 - 30) / (nDifficult + 2) / 2}px`
        }">
          <div class="btn" @click="onSubmit">提交答案</div>
          <div class="btn empty" @click="onRestart">重新开始</div>
        </div>
      </div>
      <!-- 点灯游戏 -->
      <div class="g-light-lamps" :style="{transform: 'scale(' + screenScale + ')'}" v-show="bShowGameLightLamps">
        <div class="tit">点灯</div>
        <div class="des">找出规律，点亮所有的灯</div>
        <div class="l-con">
          <div
          class="lamp"
          :class="{light: item}"
          v-for="(item, key) in aLamps"
          :key="key"
          :style="{
            transform: 'translateX(-50%) translateY(-194px) scale(.75) rotateZ(-' + 51 * (key) + 'deg)'
          }"
          @click="onClickLamp(key)">
            <div class="ball"></div>
            <div class="mask"></div>
            <div class="oval"></div>
            <div class="fan"></div>
            <div class="rect"></div>
            <div class="r1"></div>
            <div class="r2"></div>
            <div class="r3"></div>
            <div class="triangle"></div>
            <div class="triangleBlack"></div>
          </div>
        </div>
        <div class="btns">
          <div class="btn empty" @click="onRestart">重新开始</div>
        </div>
      </div>
      <!-- 选择难度 -->
      <div class="select-diff" v-show="bShowSelectDiff">
        <div class="s-con" :style="{transform: 'scale(' + screenScale + ')'}">
          <div class="s-tit">简单解谜</div>
          <div class="s-subtit">选择难度</div>
          <div class="s-list">
            <div class="s-item" v-for="i in 7" @click="onInitGrid(i + 3)">网格 {{i + 3}} * {{i + 3}}</div>
            <div class="s-item" @click="onInitLightLamps">点灯游戏</div>
            <div class="s-item" style="flex: 1;" @click="bShowSelectDiff = false">返回游戏</div>
          </div>
        </div>
      </div>
      <!-- 提示弹层 -->
      <div class="m-tips-msg" v-show="mTipsMsg">
        {{mTipsMsg}}
      </div>
    </div>
    <script src="./js/vue.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: function () {
          return {
            bShowGameGrid: true, // 网格游戏
            bShowGameLightLamps: false, // 点灯游戏
            bShowSelectDiff: true, // 选择难度界面的显示/隐藏
            nDifficult: 4, // 二维数组大小 4 5 6 7
            aResult: [], // 最终结果二维数组
            aNow: [], // 当前操作二维数组
            aTipsRow: [], // 横向提示
            aTipsCol: [], // 纵向提示
            sResult: '', // 最终结果字符串
            sNow: '', // 当前操作得到的答案
            aTipsRowNow: [], // 当前操作得到的数组算出的横向提示
            aTipsColNow: [], // 当前操作得到的数组算出的纵向提示
            winW: 375, // 屏幕宽度
            mTipsMsg: '', // 会消失的屏幕中间提示文字 无子可落2s以及结束5s
            timer1: null, // 屏幕中间提示文字的定时器
            screenScale: 1, // 界面缩放比例
            aLamps: []
          }
        },
        methods: {
          // 初始化网格游戏
          onInitGrid: function (diff) {
            // 重置
            if (!diff) diff = 4;
            this.nDifficult = diff;
            this.aResult = [];
            this.aNow = [];
            this.aTipsRow = [];
            this.aTipsCol = [];
            this.sResult = '';
            this.sNow = '';
            this.aTipsRowNow = [];
            this.aTipsColNow = [];
            // 初始化结果二维数组以及操作二维数组
            var nSize = this.nDifficult;
            var aResult = [];
            var aNow = [];
            for (var i = 0; i < nSize; i++) {
              aResult[i] = [];
              aNow[i] = []
              for (var j = 0; j < nSize; j++) {
                aResult[i][j] = Math.floor(Math.random() * 2);
                aNow[i][j] = 0
              }
            }
            this.aResult = aResult;
            this.aNow = aNow;
            // 判断结果二维数组可用性……
            // 全是0就重来……
            if (!this.fnIsAResultEnable()) {
              this.onInitGrid();
              return;
            }
            // 根据结果算出提示值
            this.onComputeTips();
            // 显示隐藏相关界面
            this.bShowSelectDiff = false;
            this.bShowGameGrid = true;
            this.bShowGameLightLamps = false;
            // // 得到最终结果字符串
            // this.getResult();
          },
          // 得到最终结果字符串
          getResult: function () {
            var str = this.aResult.reduce(function (res, item) {
              return res + item.join(' ') + '\n';
            }, '');
            console.log('目标答案：');
            console.log(str);
            this.sResult = str;
          },
          // 判断结果二维数组可用性……
          fnIsAResultEnable: function () {
            var aResult = this.deepClone(this.aResult);
            var nSum = aResult.reduce(function (sum, arr) {
              return sum + arr.reduce(function (sum, item) {
                return sum + item;
              }, 0);
            }, 0);
            // console.log(nSum);
            return !!nSum;
          },
          // 标记
          checkItem: function (i, j) {
            i = i - 2;
            j = j - 2;
            if (i < 0 || j < 0 || i >= this.nDifficult || j >= this.nDifficult) return;
            var aNow = this.deepClone(this.aNow);
            aNow[i][j] = aNow[i][j] === 0 ? 1 : 0;
            this.aNow = aNow;
          },
          // 深度克隆
          deepClone: function (target) {
            // 定义一个变量
            let result;
            // 如果当前需要深拷贝的是一个对象的话
            if (typeof target === 'object') {
              // 如果是一个数组的话
              if (Array.isArray(target)) {
                result = []; // 将result赋值为一个数组，并且执行遍历
                for (let i in target) {
                  // 递归克隆数组中的每一项
                  result.push(this.deepClone(target[i]))
                }
                // 判断如果当前的值是null的话；直接赋值为null
              } else if(target === null) {
                result = null;
                // 判断如果当前的值是一个RegExp对象的话，直接赋值
              } else if(target.constructor === RegExp){
                result = target;
              } else {
                // 否则是普通对象，直接for in循环，递归赋值对象的所有值
                result = {};
                for (let i in target) {
                  result[i] = this.deepClone(target[i]);
                }
              }
            // 如果不是对象的话，就是基本数据类型，那么直接赋值
            } else {
              result = target;
            }
            // 返回最终结果
            return result;
          },
          // 根据结果算出提示值
          onComputeTips: function () {
            var aTipsRow = [];
            var aTipsCol = [];
            for (var i = 0; i < this.nDifficult; i++) {
              aTipsRow.push(0);
              aTipsCol.push(0);
            }
            this.aResult.forEach(function (arr, index) {
              arr.forEach(function (item, index) {
                aTipsRow[index] += item;
              });
            });
            this.aTipsRow = aTipsRow;

            this.aResult.forEach(function (arr, index) {
              var sum = 0;
              arr.forEach(function (item) {
                sum += item;
              });
              aTipsCol[index] = sum;
            });
            this.aTipsCol = aTipsCol;
          },
          // 提交答案
          onSubmit: function () {
            // // 打印出来看看
            // this.getResult();
            // this.getNow();
            // 计算出当前的横向和纵向个数 用于最终结果对比
            this.onComputeNowToCompareTips();
            // console.log('一致？');
            if (
              this.aTipsRow.join(' ') === this.aTipsRowNow.join(' ') &&
              this.aTipsCol.join(' ') === this.aTipsColNow.join(' ')
            ) {
              this.mTipsMsgSet('恭喜！你赢了！', 3000);
            } else {
              this.mTipsMsgSet('不对……', 3000);
            }
          },
          // 得到当前操作得到的答案
          getNow: function () {
            var str = this.aNow.reduce(function (res, item) {
              return res + item.join(' ') + '\n';
            }, '');
            console.log('当前答案：');
            console.log(str);
            this.sNow = str;
          },
          // 根据结果算出提示值
          onComputeNowToCompareTips: function () {
            var aTipsRowNow = [];
            var aTipsColNow = [];
            for (var i = 0; i < this.nDifficult; i++) {
              aTipsRowNow.push(0);
              aTipsColNow.push(0);
            }
            this.aNow.forEach(function (arr, index) {
              arr.forEach(function (item, index) {
                aTipsRowNow[index] += item;
              });
            });
            this.aTipsRowNow = aTipsRowNow;

            this.aNow.forEach(function (arr, index) {
              var sum = 0;
              arr.forEach(function (item) {
                sum += item;
              });
              aTipsColNow[index] = sum;
            });
            this.aTipsColNow = aTipsColNow;
          },
          // 重新开始
          onRestart: function () {
            // this.onInitGrid();
            this.bShowSelectDiff = true
            // 清除提示层
            clearTimeout(this.timer1);
            this.timer1 = null;
            this.mTipsMsg = '';
          },
          // 提示层
          mTipsMsgSet: function (str, time) {
            if (!time) time = 300;
            if (!str) return;
            this.mTipsMsg = str;
            // console.time(str)
            clearTimeout(this.timer1);
            this.timer1 = null;
            this.timer1 = setTimeout(function () {
              // console.timeEnd(str)
              this.mTipsMsg = '';
            }.bind(this), time);
          },
          // 缩放整个界面
          getScreenScale: function () {
            var scaleX = window.innerWidth / 375
            var scaleY = window.innerHeight / 667
            var scaleSmaller = scaleX > scaleY ? scaleY : scaleX;
            this.screenScale = scaleSmaller
          },
          // 初始化点灯游戏
          onInitLightLamps: function () {
            // 初始化数据
            this.aLamps = [false, false, false, false, false, false, false];
            // 随机点一个
            this.onClickLamp(Math.floor(Math.random() * 7));
            // 显示隐藏相关界面
            this.bShowSelectDiff = false;
            this.bShowGameGrid = false;
            this.bShowGameLightLamps = true;
          },
          // 点灯
          onClickLamp: function (index) {
            // 0 3 4
            var aLamps = this.deepClone(this.aLamps);
            aLamps[index] = !aLamps[index];
            aLamps[(index + 3 + aLamps.length) % aLamps.length] = !aLamps[(index + 3 + aLamps.length) % aLamps.length]
            aLamps[(index + 4 + aLamps.length) % aLamps.length] = !aLamps[(index + 4 + aLamps.length) % aLamps.length]
            this.aLamps = aLamps;
            // 判定胜利
            this.judgeLightLamps();
          },
          // 判定胜利
          judgeLightLamps: function () {
            var bSucc = true;
            for (var i = 0; i < this.aLamps.length; i++) {
              if (!this.aLamps[i]) {
                bSucc = false;
                break;
              }
            }
            if (bSucc) this.mTipsMsgSet('你点亮了全部的灯！', 3000);
          }
        },
        mounted: function () {
          // this.winW = window.innerWidth;
          // 初始化网格游戏
          this.onInitGrid();
          this.bShowSelectDiff = true
          // 自适应缩放界面
          this.getScreenScale();
          window.removeEventListener('resize', this.getScreenScale);
          window.addEventListener('resize', this.getScreenScale);
          // // 调试点灯游戏
          // this.onInitLightLamps();
        }
      });
    </script>
  </body>
</html>
